form {
    width: 300px; /* Ancho del formulario */
    margin: auto; /* Centrar el formulario horizontalmente */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-image: url(../../assets/img/huellas.jpg);
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="time"] {
    width: calc(100% - 20px); /* Ancho del input, restando el padding */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #6f3225; /* Café oscuro */
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
  