/* body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/013/095/122/non_2x/cute-cat-and-dogs-background-free-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10%;
} */