<div class="homee">

  <table>
      <tr>
        <th style="width: 50%;">
          <p> <span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: larger;">Patitas <span style="color: rgb(3, 190, 0);">felices</span> </span> es una asosiacion civil que inicia en 2019 creada por Judith Yahaira Ortega Ortega, Aaron Shachiel Garcia Muñoz y Daniel Omar Flores Ibarra.</p>
          <p>Nuestro objetivo principal en <span style="color: rgb(3, 190, 0); ">Patitas felices</span> es encontrar un hogar para todos esos peluditos que estan en la calle, brindandoles un hogar temporal y posteriormente una familia.
          Nuestra empresa recauda fondos de colectas que se realizan en cientos de instituciones con el fin de obtener los fondos suficientes
          para poder brindarles la mejor calidad de vida a nuestros invitados.
          </p>
        </th>
        <th>
          <div class="video-container">
            <iframe 
            class="video"
            width="400"
             height="225"
             [src]="video |domseguro"
             [frameBorder]="0"
             allow="accelerometer;autoplay; encrypted-media; gyroscope; picture-in-picture"
             allowfullscreen>
        </iframe>        </div>
        </th>
      <tr>
         
        <td colspan="2"><ol>
          <h6>A continuación, detallamos los requisitos necesarios para adoptar un peludito:
          </h6>
          <li>Ser mayor de edad</li>
          <li>Tener nacionalidad mexicana</li>
          <li>Residir en el estado de Aguascalientes</li>
          <li>Pasar con exitos todos nuestros filtros de calidad</li>
        </ol></td>
      </tr>
    </table>
    <div class="conocenos">
      <div class="card">
          <img src="../../assets/img/dog2.webp" class="card-img-top" alt="...">
        
          <div class="card-body">
            <h5 class="card-title">Conoce a nuestros amiguitos</h5>
            <p class="card-text">Todos nuestros amiguitos han sido salvados de la vida callejera o de familias que los han maltratado, no compres, adopta uno de nuestros amiguitos y haz que sea feliz!</p>
            <a class="nav-link" routerLink="/heroes">Quiero conocerlos!</a>
          </div>
        </div>
        
       
        
    </div>
    <h1 style="text-align: center;">Informacion sobre adopciones</h1>
    <div class="tablaDatos">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#ID </th>
            <th scope="col">Fecha</th>
            <th scope="col">Nombre del adoptante</th>
            <th scope="col">Tipo de mascota</th>
            <th scope="col">Edad de mascota</th>
            <th scope="col">Estado de adopcion</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">9821</th>
            <td>2013-05-23</td>
            <td>Maria Perez</td>
            <td>Perro</td>
            <td>2 años</td>
            <td>Adoptado</td>
          </tr>
          
          <tr>
            <th scope="row">9463</th>
            <td>2017-09-17</td>
            <td>Jorge Ceo</td>
            <td>Gato</td>
            <td>6 años</td>
            <td>Adoptado</td>
          </tr>
          <tr>
            <th scope="row">9372</th>
            <td>2019-08-13</td>
            <td>Manuel Jimenez</td>
            <td>Gato</td>
            <td>5 años</td>
            <td>Adoptado</td>
          </tr>
          <tr>
            <th scope="row">9535</th>
            <td>2020-03-29</td>
            <td>Javier Ramirez</td>
            <td>Perro</td>
            <td>6 meses</td>
            <td>Cancelado (pandemia)</td>
          </tr>
          <tr>
            <th scope="row">9243</th>
            <td>2023-11-21</td>
            <td>Roberto Munguia</td>
            <td>Perro</td>
            <td>1 año</td>
            <td>En proceso</td>
          </tr>
          <tr>
            <th scope="row">9362</th>
            <td>2024-01-05</td>
            <td>Judith Ortega</td>
            <td>Gato</td>
            <td>3 meses</td>
            <td>Cancelado</td>
          </tr>
          <tr>
            <th scope="row">9837</th>
            <td>2024-03-27</td>
            <td>Diego Vargas</td>
            <td>Perro</td>
            <td>3 años</td>
            <td>Adoptado</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="formulario">
      <h1>Necesitamos de tu apoyo</h1>
      <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Ingresa tu email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Nunca compartiremos tus datos.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Deseo recibir información</label>
          </div>
          <button mat-button color="primary">Enviar</button>
        </form>
    </div>
    
  
  </div>